/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1,h2{
        margin:4px 0;
        font-size: 20px;
    }
    .carousel-item img{
        /* min-height:130vh; */
    }
    .s-text{
        font-size: 14px;
    }
    .carousel-caption{
        top: 15%;
        left: 50%;
        transform: translate(-50%);
        padding-top: 0px;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1,h2{
        margin: 0 0 10px;
        font-size: 23px;
    }
    .carousel-item img{
        min-height:100vh;
    }
    .nav-link{
        font-size: 18px;
    }

    .slide-h1{
        margin: 0px 0px 3px;
    }

    .slide-h2{
        margin: 0px 0px 3px;
        color:white;
    }
    .s-text{
        font-size: 15px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1,h2{
        margin: 0 0 15px;
        font-size: 28px;
    }
    .s-text{
        font-size: 16px;
    }
    .card_img img{
        height:100%;
        /* width: 100%; */
    }
    .card-body{
        padding: 0px 15px;
    }
    
    .card-title{
        margin:7px 0 8px;

    }
    .slide-h1{
        margin: 0px 0px 5px;
    }
    .slide-h2{
        margin: 0px 0px 5px;
        color:white;
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1,h2{
        margin: 0 0 20px;
        font-size: 35px;
    }
    .s-text{
        font-size: 20px;
    }
    .card_img img{
        height:100%;
    }
   
}

/*  extea Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    h1,h2{
        margin: 0 0 25px;
        font-size: 40px;
    }
    .s-text{
        font-size: 23px;
    }
    .card-title{
        font-size: 30px;
    }
    .card-text{
        font-size: 20px;
    }
}

/* Extra extra  large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    h1,h2{
        margin: 0 0 30px;
        font-size: 50px;
    }
    .s-text{
        font-size: 25px;
    }
    .card-title{
        font-size: 30px;
    }
    .card-text{
        font-size: 20px;
    }
}